<div class="button-container">
  <button routerLink="/" class="btn btn-primary">&#60;&#60; {{ 'back_to_top' | translate }}</button>
</div>
<div class="table-responsive">
  <div class="container">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="customer">{{ 'customer_name' | translate }}: </label>
        <input type="text" class="form-control" id="customer" formControlName="customer">
        <div *ngIf="customerForm.get('customer')?.touched && customerForm.get('customer')?.errors?.['required']" class="alert alert-danger error-message">
          {{ 'customer_name_required' | translate  }}
        </div>
      </div>
  
      <div class="form-group">
        <label for="totalLoanEuro">{{ 'total_loan_euro' | translate }}: </label>
        <input type="number" class="form-control" id="totalLoanEuro" formControlName="totalLoanEuro">
        <div *ngIf="customerForm.get('totalLoanEuro')?.touched && customerForm.get('totalLoanEuro')?.errors?.['required']" class="alert alert-danger error-message">
          {{ 'total_loan_euro_required' | translate  }}
        </div>
        <div *ngIf="customerForm.get('totalLoanEuro')?.errors?.['min'] || customerForm.get('totalLoanEuro')?.errors?.['max']" class="alert alert-danger error-message">
          {{ 'total_loan_euro_valid_range' | translate  }}
        </div>
      </div>
  
      <div class="form-group">
        <label for="totalLoanCent">{{ 'total_loan_cents' | translate }}: </label>
        <input type="number" class="form-control" id="totalLoanCent" formControlName="totalLoanCent">
        <div *ngIf="customerForm.get('totalLoanCent')?.touched && customerForm.get('totalLoanCent')?.errors?.['required']" class="alert alert-danger error-message">
          {{ 'total_loan_cents_required' | translate  }}
        </div>
        <div *ngIf="customerForm.get('totalLoanCent')?.errors?.['min'] || customerForm.get('totalLoanCent')?.errors?.['max']" class="alert alert-danger error-message">
          {{ 'total_loan_cents_valid_range' | translate  }}
        </div>
      </div>
  
      <div class="form-group">
        <label for="interest">{{ 'interest' | translate }} (%): </label>
        <input type="number" class="form-control" id="interest" formControlName="interest">
        <div *ngIf="customerForm.get('interest')?.touched && customerForm.get('interest')?.errors?.['required']" class="alert alert-danger error-message">
          {{ 'interest_required' | translate  }}
        </div>
        <div *ngIf="customerForm.get('interest')?.errors?.['min'] || customerForm.get('interest')?.errors?.['max']" class="alert alert-danger error-message">
          {{ 'interest_valid_range' | translate  }}
        </div>
      </div>
  
      <div class="form-group">
        <label for="years">{{ 'years' | translate }}: </label>
        <input type="number" class="form-control" id="years" formControlName="years">
        <div *ngIf="customerForm.get('years')?.touched && customerForm.get('years')?.errors?.['required']" class="alert alert-danger error-message">
          {{ 'years_required' | translate  }}
        </div>
        <div *ngIf="customerForm.get('years')?.errors?.['min'] || customerForm.get('years')?.errors?.['max']" class="alert alert-danger error-message">
          {{ 'years_valid_range' | translate  }}
        </div>
      </div>
  
      <br>
      <div class="button-container">
        <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">{{ 'save' | translate }}</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="cancelCreate()">{{ 'cancel' | translate }}</button>
      </div>
    </form>
  </div>
</div>

  