<div class="button-container">
  <button routerLink="/customer/create" class="btn btn-primary">+ {{ 'create_new_customer' | translate  }}</button>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover center-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ 'customer_name' | translate  }}</th>
        <th>{{ 'total_loan' | translate  }}</th>
        <th>{{ 'interest' | translate  }}</th>
        <th>{{ 'years' | translate  }}</th>
        <th>{{ 'monthly_payment' | translate  }}</th>
        <th>{{ 'delete_button' | translate  }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of allCustomers">
        <td><a [routerLink]="['/customer/update', customer.id]">{{ customer.id }}</a></td>
        <td><a [routerLink]="['/customer/update', customer.id]">{{ customer.customer }}</a></td>
        <td>{{ customer.totalLoan }}</td>
        <td>{{ customer.interest }}%</td>
        <td>{{ customer.years }}</td>
        <td>€{{ customer.monthlyPayment }}</td>
        <td><button (click)="deleteCustomer(customer.id)">{{ 'delete' | translate  }}</button></td>
      </tr>
    </tbody>
  </table>
</div>
