<div class="button-container">
    <button routerLink="/" class="btn btn-primary">&#60;&#60; {{ 'back_to_top' | translate  }}</button>
</div>
<div class="table-responsive">
  <div class="container">
    <form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="customer">{{ 'customer_name' | translate }}</label>
        <input type="text" class="form-control" id="customer" formControlName="customer">
        <div *ngIf="updateCustomerForm.get('customer')?.invalid && (updateCustomerForm.get('customer')?.dirty || updateCustomerForm.get('customer')?.touched)" class="alert alert-danger">
          <div *ngIf="updateCustomerForm.get('customer')?.errors?.['required']">{{ 'customer_name_required' | translate  }}</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="totalLoanEuro">{{ 'total_loan_euro' | translate }}</label>
        <input type="number" class="form-control" id="totalLoanEuro" formControlName="totalLoanEuro">
        <div *ngIf="updateCustomerForm.get('totalLoanEuro')?.invalid && (updateCustomerForm.get('totalLoanEuro')?.dirty || updateCustomerForm.get('totalLoanEuro')?.touched)" class="alert alert-danger">
          <div *ngIf="updateCustomerForm.get('totalLoanEuro')?.errors?.['required']">{{ 'total_loan_euro_required' | translate  }}</div>
          <div *ngIf="updateCustomerForm.get('totalLoanEuro')?.errors?.['min'] || updateCustomerForm.get('totalLoanEuro')?.errors?.['max']" class="error-message">
            {{ 'total_loan_euro_valid_range' | translate  }}
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="totalLoanCent">{{ 'total_loan_cents' | translate }}</label>
        <input type="number" class="form-control" id="totalLoanCent" formControlName="totalLoanCent">
        <div *ngIf="updateCustomerForm.get('totalLoanCent')?.invalid && (updateCustomerForm.get('totalLoanCent')?.dirty || updateCustomerForm.get('totalLoanCent')?.touched)" class="alert alert-danger">
          <div *ngIf="updateCustomerForm.get('totalLoanCent')?.errors?.['required']">{{ 'total_loan_cents_required' | translate  }}</div>
          <div *ngIf="updateCustomerForm.get('totalLoanCent')?.errors?.['min'] || updateCustomerForm.get('totalLoanCent')?.errors?.['max']" class="error-message">
            {{ 'total_loan_cents_valid_range' | translate  }}
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="interest">{{ 'interest' | translate }} (%)</label>
        <input type="number" class="form-control" id="interest" formControlName="interest">
        <div *ngIf="updateCustomerForm.get('interest')?.invalid && (updateCustomerForm.get('interest')?.dirty || updateCustomerForm.get('interest')?.touched)" class="alert alert-danger">
          <div *ngIf="updateCustomerForm.get('interest')?.errors?.['required']">{{ 'interest_required' | translate  }}</div>
          <div *ngIf="updateCustomerForm.get('interest')?.errors?.['min'] || updateCustomerForm.get('interest')?.errors?.['max']" class="error-message">
            {{ 'interest_valid_range' | translate  }}
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="years">{{ 'years' | translate }}</label>
        <input type="number" class="form-control" id="years" formControlName="years">
        <div *ngIf="updateCustomerForm.get('years')?.invalid && (updateCustomerForm.get('years')?.dirty || updateCustomerForm.get('years')?.touched)" class="alert alert-danger">
          <div *ngIf="updateCustomerForm.get('years')?.errors?.['required']">{{ 'years_required' | translate  }}</div>
          <div *ngIf="updateCustomerForm.get('years')?.errors?.['min'] || updateCustomerForm.get('years')?.errors?.['max']" class="error-message">
            {{ 'years_valid_range' | translate  }}
          </div>
        </div>
      </div>
  
      <br>
      <div class="button-container">
        <button type="submit" class="btn btn-success" [disabled]="!updateCustomerForm.valid">{{ 'update' | translate }}</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="cancelUpdate()">{{ 'cancel' | translate }}</button>
      </div>
    </form>
  </div>
</div>

  